@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --color-primary: #CD5C5C;
}

* {
    box-sizing: border-box;
    font-family: 'Permanent Marker', sans-serif;
}

html, body {
    background-color: #E6E6FA;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
